/*Juan Fernandez Lopez UO296143*/
/* Todas las reglas en estilo.css deben tener como un comentario la especificidad del selector */

body {
    font-family: 'Arial', sans-serif;
    color:#d77628;
    background-color: #2889d7;
}

header{
    color:#d77628;
}

h1{
    color:#2889d7;
}
nav{
    color:#d77628;
}